:root {
  --cols: 21;       /* número de columnas inicial */
  --cell-size: 24px; /* tamaño de celda */
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  background: #121212;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controls {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #000;
  padding: 8px;
  display: flex;
  gap: 8px;
  border-radius: 6px;
  margin: 10px 0;
}

#board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cell-size));
  grid-auto-rows: var(--cell-size);
  gap: 1px;
  background: #333;
}

.cell {
  background: #222;
  font-size: 10px;
  align-content: center;
  width: var(--cell-size);
  height: var(--cell-size);
}

.snake { background: limegreen; }
.head  { background: rgb(0, 0, 0); }
.food  { background: crimson; }
